@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.header {
  @apply p-4 flex items-center text-sm fade-in;
}

.logo {
  @apply flex items-center flex-1 gap-2;
}

.headline {
  @apply text-sm font-medium cursor-pointer;
}

.badge {
  @apply text-xxxs -translate-y-1 -translate-x-1
}